h1,h2,p{
    background: yellow;
    color: blue;
    text-align: center;
}
li{
    color: cornflowerblue;
}
img{
    max-width: 500px;
}
div{
    max-width: 1000px;
    border-color: black;
    border-style: double;
    border-radius: 10px;
    text-align: center;
}



















































